.addOpenClassView {
  padding-top: 1rem;
  background-color: #f9f9f9;
  .addOpenClassAtForm {
    background-color: #f9f9f9;

    .openClassFormViewOne {
      background-color: #fff;
      .myAtInput {
        text-align: right;
      }
      .at-list__item-extra {
        max-width: 410px !important;
      }

      .at-list__item-icon {
        margin-right: 5px !important;
      }

      .genderInputStyle {
        .at-list__item-icon {
          margin-right: 31px !important;
        }
      }

      .spacingInputTitle {
        .at-input__title {
          margin-left: 20px;
        }
      }
    }

    .openClassFormViewTwo {
      margin-top: 50px;
    }
  }
}
